@use "../../../colors.scss";
@use "../../../fonts.scss";
.card__messenger {
    display: flex;
    max-width: 345px;
    height: 70px;
    margin-top: 5px;
    &:hover {
        opacity: 0.9;
        cursor: pointer;
        background-color: #677077;
        border-radius: 10px;
    }
}

.card__messenger-avatar {
    max-width: 56px;
    max-height: 56px;
    align-self: center;
}

.card__messenger-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 235px;
    padding: 5px 0 5px 5px;
}

.card__messenger-content-title {
    text-align: left;
    flex: 1;
    margin: 0;
}

.card__messenger-content-text {
    flex: 1;
    text-align: left;
    max-height: calc(100% / 2);
    font-size: 13px;
    width: 100%;
}

.card__messenger-option {
    width: 40px;
    height: 40px;
    align-self: center;
    text-align: right;
    display: flex;
    background-color: #3c3e41;
    border-radius: 50%;
    .card__messenger-option-icons {
        margin: auto;
    }
    &:hover {
        opacity: 0.7;
    }
}

.Menu__setting {
    overflow: visible;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.2));
    margin-top: 1.5;
    ul {
        background-color: colors.$main-nav-color;
        border: none !important;
        padding: 8px 0;
    }
    &::before {
        display: block;
        position: absolute;
        top: 0;
        right: 14;
        width: 10;
        height: 10;
        background-color: #3c3e41;
        transform: translate(-50%) rotate(45deg);
        z-index: 0;
    }
}