@use "../../fonts.scss";
@use "../../colors.scss";

.feed {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  max-width: 600px;

  .story {
    display: flex;

    .story__card {
      width: 115px;
      height: 190px;
      margin-right: 10px;
      position: relative;
      box-sizing: border-box;
      overflow: hidden;

      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      border-radius: 10px;
      cursor: pointer;

      &:last-child {
        margin-right: unset;
      }

      .story__cardImage {
        width: 100%;
        height: 100%;
        overflow: hidden;

        object-fit: cover;
        background-image: linear-gradient(0deg, colors.$main-nav-color, transparent);
        transition: all 0.2s ease-in-out;
        border-radius: 10px;
      }

      .story__cardProfile {
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 2;
      }

      .story__cardProfile-avatar {
        border: 4px solid colors.$blue-text-color;
      }

      h4 {
        position: absolute;
        bottom: 10px;
        left: 10px;
        z-index: 2;
      }

      &:hover {
        .story__cardImage {
          transform: scale(1.05);
        }
      }
    }
  }

  .uploadBar {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px 15px;

    background-color: #242526;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    .uploadBar__top {
      width: 100%;
      display: flex;
      padding-bottom: 10px;

      border-bottom: 1px solid colors.$border-color;

      .uploadBar__input {
        flex: 1;
        display: flex;
        margin-left: 15px;

        background-color: colors.$comment-background;
        align-items: center;
        border-radius: 30px;

        input {
          width: 100%;
          padding: 12px;

          border: none;
          background: transparent;
          outline: none;
          color: white;
        }
      }
    }

    .uploadBar__bot {
      width: 100%;
      display: flex;
      padding-top: 5px;

      justify-content: space-between;

      .uploadBar__option {
        display: flex;
        padding: 5px 20px;

        align-items: center;
        cursor: pointer;
        border-radius: 10px;
        transition: all 0.2s;

        .uploadBar__option-icon {
          width: 30px;
          height: 30px;
        }

        p {
          font-weight: 400;
          margin-left: 5px;

          @media screen and (max-width: 768px) {
            display: none;
          }
        }

        &:hover {
          background-color: #3a3b3c;
          border-radius: 10px;
        }
      }
    }
  }

  .post {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    background-color: #242526;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    box-sizing: border-box;
    cursor: default;

    .post__head {
      display: flex;
      padding: 10px 15px;
      justify-content: space-between;
      align-items: center;

      .post__headLeft {
        display: flex;
        align-items: center;

        .post__headLeft-info {
          margin-left: 10px;

          h4 {
            cursor: pointer;
          }
        }
      }
    }

    .post__body {
      box-sizing: border-box;
      overflow: hidden;

      .post__body-image {
        width: 100%;
        height: auto;
      }

      .post__body-caption {
        padding: 0 15px 10px 15px;
      }
    }

    .post__bottom {
      display: flex;
      justify-content: space-evenly;
      padding: 5px 0;

      .post__bottom-action {
        display: flex;
        align-items: center;
        padding: 5px 20px;
        
        cursor: pointer;
        border-radius: 10px;
        transition: all 0.2s;

        &:hover {
          background-color: #3a3b3c;
          border-radius: 10px;
        }

        .post__bottom-icon {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
      }
    }
    
  }

  @media screen and (max-width: 768px) {
    .story {
      display: none;
    }
  }
}
