.profile__normal-btn{
    align-content: center;
    padding: 8px 0;
    width: 90%;
    background-color: #3A3B3C;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}