@use "../../colors.scss";

.fgp__container {
  font-family: Helvetica, Arial, sans-serif !important;
  height: 100vh;
  background: #e9ebee;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .fgp__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);

    .fgp__header--logo {
      font-size: 30px;
      color: colors.$blue-logo;
      font-weight: 700;
    }

    .fgp__header--login {
      .fgp__header--login-input {
        margin: 0 10px;
      }
    }
  }

  .fgp__body {
    padding: 20px 20px;
    width: 500px;
    height: 275px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);

    h2 {
      color: black;
    }

    hr {
      background: #e9ebee;
      width: 500px;
      margin: 20px -20px;
      border: none;
    }

    p {
      color: black;
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 20px;
    }

    .fgp__body--btn {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      .fgp__body--btn-css {
        background-color: rgb(170, 170, 170);
        margin-right: 10px;
      }
    }
  }
}

/* Responsive: Tablet */
//No-neccesary

/* Responsive: Mobile */
@media screen and (max-width: 415px) {
  .fgp__container {

    .fgp__header {
      display: flex;
      justify-content: center;

      .fgp__header--login {
        display: none;
      }
    }

    .fgp__body{
      width: 95%;

      hr{
        width: 113%;
      }
    }
  }
}
