@use "../../colors";
@use "../../fonts";
body {
  overflow: auto !important;
}

.main-stories-page {
  height: 100vh;
  background-color: #000000;
  position: relative;

  .main-stories-homepage-redirect {
    display: flex;
    align-items: center;
    position: fixed;
    margin-left: 16px;
    margin-top: 8px;
    .facebook-icon {
      width: 40px;
      height: 40px;
    }

    .fill-white {
      fill: #b0b3b8;
    }
  }

  .main-stories-nav-menu {
    .right-nav {
      position: fixed;
      right: 33px;
      top: 8px;
    }

    .nav-avatar-area {
      display: none !important;
    }

    .right-nav-btn {
      color: colors.$main-text-color !important;
      background: colors.$comment-background !important;
      margin-right: 8px !important;
    }

    .right-nav-btn:last-child {
      margin-right: 0px !important;
    }

    .flex-center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .p361ku9c {
    fill: colors.$main-text-color;
  }

  .stories-reaction-icon {
    position: absolute;
    top: -25px;
    width: 50px;
  }

  .stories-reaction-icon:hover {
    width: 60px;
    top: -28px;
  }

  .main-stories-input {
    width: 300px;
    height: 40px;
    background-color: black;
    border: 1px solid white;
    border-radius: 100px;
    padding-left: 15px;
    font-size: 1.2em;
    color: white;
    margin-right: 10px;
    outline: none;
  }

  .main-stories-center {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .main-stories-right,
    .main-stories-left {
    }

    .main-stories-sub {
      height: 160px;
      width: 90px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
      border-radius: 10px;
      position: relative;
      p {
        width: 100%;
        position: absolute;
        top: 110px;
        font-size: 1em;
        text-align: center;
        font-weight: bold;
        user-select: none;
        padding: 0 5px;
      }
    }

    .main-stories-sub:hover {
      background-color: #101010;
    }

    .main-stories-arrow-icon {
      color: #a1a4a7 !important;
      width: 48px;
      height: 48px;
      background-color: colors.$main-nav-color;
    }

    .main-stories-display {
      margin: 12px 0 8px 0;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .main-stories-background {
        max-width: 400px;
        width: 100%;
        height: 100%;
        background-color: rgb(41, 41, 41);
        border-radius: 5px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .main-stories-display-header {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          margin-top: 10px;
        }

        .main-stories-display-header,
        .main-stories-display-footer {
          background-color: rgba(255, 255, 255, 0);
          > div {
            background-color: rgba(255, 255, 255, 0);
          }
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .main-stories-center {
    display: flex !important;
    flex-direction: row;
    justify-content: center;

    .main-stories-right,
    .main-stories-left {
      padding: 0 10px;
      .main-stories-sub {
        display: none !important;
      }
    }
  }

  .stories-footer {
    display: none !important;
  }
}

@media (max-width: 725px) {
  .main-stories-display-header {
    margin-top: 40px !important;
  }
}

@media (max-width: 415px) {
  .stories-action-buttons > button > svg {
    font-size: 20px;
  }
}

@media (max-width: 530px) {
  .main-stories-arrow-icon {
    display: none !important;
  }

  .main-stories-background {
    background-size: cover !important;
  }

  .main-stories-display {
    width: 100% !important;
  }

  .main-stories-right,
  .main-stories-left {
    padding: 0 0px !important;
  }

  .main-stories-display {
    margin: 0 !important;
  }
}
